@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* add some component colors */
@layer components {
  .primary {
    color: white;
    /* color: #b5ffe1; */
  }
  .bg-primary {
    background-color: rgb(255, 255, 255);
  }

  .secondary {
    color: #f7f8fa;
  }

  .bg-secondary {
    background-color: #f7f8fa;
  }

  .fall {
    color: #e69f00;
  }
  .bg-fall {
    background-color: #e69f00;
  }

  .spring {
    color: #56b4e9;
  }
  .bg-spring {
    background-color: #56b4e9;
  }

  .summer {
    color: #0072b2;
  }

  .bg-summer {
    background-color: #0072b2;
  }
}

/* add some utility colors */
/* b5ffe1, 93e5ab, 65b891, 4e878c, 00241b */

@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}